.aboutus
  .container
    max-width: 1200px!important
.about
  position: relative
  margin-top: 50px
  &-caption
    font-family: $font-Gilroy-Light
    font-size: 30px
    line-height: 1.167
    position: absolute
    width: 515px
    outline-offset: -10px
    box-shadow: 0px 11px 27px 0px rgba(0, 0, 0, 0.08)
    outline: 1px solid #e8e8e8
    border-radius: 5px
    padding: 40px 35px
    top: -51px
    left: 0
    background: white
  &-text
    margin-left: 230px
    font-family: $font-Roboto-Regular
    font-size: 16px
    line-height: 1.5
    border: 7px solid #017bdc
    border-radius: 5px
    padding: 50px 55px 50px 315px
    &__bold
      font-family: $font-Roboto-Bold
.text__blue
  font-family: $font-Gilroy-ExtraBold
  font-size: 30px
  color: #017bdc

.about-infograf
  padding-top: 40px
  padding-left: 160px
  position: relative
  .row:first-child
    //padding-top: 40px
    padding-left: 100px
  &:before
    width: 213px
    height: 186px
    content: ''
    position: absolute
    top: -45px
    left: -10px
    background-image: url('../images/icons/protection.png')
    background-repeat: no-repeat
    background-size: 213px 186px

.about-block
  display: flex
  flex-direction: row
  justify-content: center
  &__num
    font-family: $font-Gilroy-ExtraBold
    font-size: 80px
    color: #017bdc
    text-align: right
    padding: 0 3px
  &__txt
    display: flex
    justify-content: center
    align-items: center
    font-family: $font-Gilroy-Light
    font-size: 15px
    text-align: left
    //width: 120px
    padding: 0

.about-footer
  margin-top: 55px
  font-family: $font-Gilroy-Light
  font-size: 30px
  .row
    justify-content: center
    align-items: center
  .comment
    margin-left: 50px
    &:after
      bottom: -10px
      right: -15px
      background-image: url('../images/icons/RU-flag.png')
      background-size: 55px 40px
