.concrete
  .container
    max-width: 1200px
  .list__item
    &:before
      content: '\00d7'
      color: #ffffff
      background-image: none
      background-color: #ff2626
      border-style: none
      border-radius: 50%

.concrete-block
  font-family: $font-Gilroy-Light
  font-size: 30px


.text__red
  font-family: $font-Gilroy-ExtraBold
  font-size: 30px
  color: #ff2626
