.banner
  margin-bottom: 60px
  +tablet-down
    margin-bottom: 30px

  .container
    +laptop
      max-width: 1370px

  .banner__cols
    display: flex
    justify-content: center
    align-items: stretch
    +ipad-down
      flex-direction: column

    .banner__col
      width: 50%
      +ipad-down
        width: 100%
      &--left
        margin-right: 59px
        padding: 110px 0px 0
        +laptop-down
          padding-top: 10px
        +ipad-down
          margin-right: 0
          padding-top: 0px

  .banner__wrapper
    padding: 0 25px
    +tablet-down
      padding: 0
    .banner__title
      //font-size: 40px
      line-height: 54px
      +laptop-down
        font-size: 29px
        line-height: 40px
      +ipad-down
        text-align: center
      +tablet-down
        text-align: left
        font-size: 26px
        line-height: 32px

      &--blue
        color: $blue
        margin-bottom: 50px
        +ipad-down
          margin-bottom: 30px

    .banner__info-wrapper
      display: flex
      justify-content: flex-start
      align-items: center
      +ipad-down
        justify-content: space-between
        margin-bottom: 25px

      .info
        max-width: 170px
        display: flex
        justify-content: center
        align-items: stretch
        font-family: $font-Gilroy-ExtraBold
        color: $gold-yellow
        font-size: 35px
        line-height: 30px
        margin-right: 55px
        position: relative
        +phone-down
          margin-right: 25px
        +tablet-down
          font-size: 28px
          line-height: .8 //14.48px
          max-width: 139px
        &:before
          content: ''
          position: absolute
          display: inline-block
          width: 25px
          height: 25px
          background:
            image: url("../images/icons/avirus.png")
            repeat: no-repeat
            position: center
            size: 25px
          right: 9px
          bottom: 10px
          +tablet-down
            background-size: 20px
            bottom: 8px
            right: 6px

        &:last-child
          margin-right: 0
          max-width: 205px
          +tablet-down
            max-width: 170px
          .info-text--small
            width: 70%
          &:before
            width: 30px
            height: 30px
            top: 6px
            right: 0
            +tablet-down
              top: -3px
            background:
              image: url("../images/icons/cup.png")
              size: 30px

        .info-big-number
          font-size: 70px
          line-height: 70px
          display: inline-block
          margin-right: 5px
          +tablet-down
            font-size: 55px
            line-height: 1 // 29.87px

        .info-text--small
          font-size: 14px
          line-height: 14px
          color: $fontColorMain
          display: inline-block
          font-family: $font-Gilroy-Light
          +tablet-down
            font-size: 12px
            line-height: 12.75px

  .carousel
    .slide
      border-radius: 9px
    .slide-desc
      font-size: 16px
      line-height: 54px
      color: #0187c9
      font-family: $font-Gilroy-ExtraBold
      text-align: center

  .parallelogram
    padding: 0
    +laptop-down
      padding: 0
      margin-bottom: 20px
    +tablet-down
      padding: 0 20px
      margin-bottom: 30px

  .parallelogram-title
    font-family: $font-Gilroy-Light
    font-size: 25px
    line-height: 60px
    color: #ffffff
    +laptop-down
      font-size: 20px
    +tablet-down
      font-size: 16px
    +phone-down
      font-size: 14px




