.examples
  margin-bottom: 77px

  .carousel
    .carousel-indicators
      display: none
      +tablet-down
        display: flex
        bottom: -30px
      +phonemin-down
        //bottom: 38px

  .examples_header
    padding: 0 40px
    margin-bottom: 50px
    +tablet-down
      flex-direction: column

  .title
    font-size: 30px
    line-height: 35px
    width: 80%
    padding: 20px 0 0
    +laptop-down
      width: 100%
    +tablet-down
      font-size: 20px
      line-height: 26px
      margin-bottom: 25px

    .blue-text
      color: #017bdc

  .subtitle
    font-family: $font-Caveat-Regular
    font-size: 20px
    line-height: 24px
    border: 1px solid #cccccc
    border-radius: 5px
    padding: 20px
    width: 45%
    +laptop-down
      width: 100%

  #multi-item-example
    .carousel-control-prev, .carousel-control-next
      left: -32px
      top: 37%
      +laptop-down
        left: -15px
        top: 30%
      +tablet-down
        left: 5%
        top: 100%
      +phonemin-down
        //top: 80%
    .carousel-control-next
      left: 100% //calc(100% + 8px)
      //top: 37%
      +laptop-down
        left: calc(100% - 15px)
      +tablet-down
        left: 90%
        //top: 100%

    .card
      border-width: 0
      border-radius: 5px
      background: $grey
      padding: 40px 40px 17px
      +laptop-down
        max-height: 320px
        height: 320px
      +phone-down
        background: transparent
        padding: 0
        height: 280px

      .card-title
        font-size: 14px
        line-height: 17px
        font-family: $font-Gilroy-ExtraBold
        text-align: center
        min-height: 34px

      .card-body
        padding: 0

      .carousel-small
        //width: 300px
        border-radius: 5px
        margin-bottom: 10px
        .carousel-item
          border-radius: 5px
          img
            border-radius: 5px

      .slider__control.carousel-control-prev, .slider__control.carousel-control-next
        width: 22px
        height: 22px
        left: 10px
        top: calc(50% - 22px)
        +phone-down
          top: calc(50% - 36px)
        +phonemin-down
          top: calc(50% - 50px)
      .slider__control.carousel-control-next
        left: calc(100% - 33px)

