.get-pricelist
  margin-top: 75px
  margin-bottom: 80px
  .get-pricelist-form
    padding: 40px 40px 40px 45px
    +tablet-down
      margin-left: 0px
      width: 100%
    +phone-down
      padding: 18px 25px 20px 20px

    .title
      padding-right: 115px
      margin-bottom: 8px
      +tablet-down
        margin-bottom: 12px
        padding-right: 0px

.get-pricelist-form
  border-radius: 8px
  padding: 50px 40px 40px 45px
  width: 616px
  min-height: 257px
  z-index: 1
  font-size: 14px
  +phone-down
    padding: 23px 15px 22px 24px
    width: 100%
  .title
    line-height: 1.3
    margin-bottom: 45px
    +phone-down
      line-height: 1.7
      margin-bottom: 20px
  p
    margin-bottom: 32px
  .row
    +phone-down
      padding-left: 35px
      padding-right: 35px


.get-pricelist__img
  position: relative
  z-index: -1
  .img-wrap
    position: absolute
    top: -120px
    left: -20px
    width: 680px
    height: 406px
    transform: rotate(21deg)
    +tablet-down
      width: 365px
      height: auto
      left: calc(365px / 2)
      top: -125px
    +phone-down
      left: 0px
  img
    width: 100%
    height: auto

.get-pricelist-form-wrap
  margin-left: 275px

.catalog
  position: relative
  &:after
    content: ''
    position: absolute
    display: inline-block
    top: -37px
    left: -220px
    width: 680px
    height: 406px
    transform: scale(1.3) rotate(21deg)
    background:
      color: transparent
      image: url("../images/icons/catalog.png")
      size: contain
      repeat: no-repeat