.header
  margin: 50px auto 30px
  .container
    font-size: 12px
    line-height: 17px
    font-family: $font-Gilroy-Light
    display: flex
    flex-direction: column
    padding: 0px 30px
  .row
    justify-content: space-between
  &__logo
    margin-right: 30px

.logo
  display: flex
  &__link
    display: inline-block
    width: 100px
    background-color: red
  &__text
    display: inline-block
    width: 200px

.contacts
  text-align: right
  &__phone
    font-family: $font-Gilroy-ExtraBold
    font-size: 23px
    line-height: 1

.cup
  position: relative
  width: 270px
  padding-left: 75px
  &:before
    content: ''
    position: absolute
    display: inline-block
    top: -10px
    left: 0px
    width: 64px
    height: 66px
    background:
      color: transparent
      image: url("../images/icons/cup.png")
      repeat: no-repeat
      size: contain

.get-offer
  width: 300px
  align-self: center
  .btn
    width: 100%
    padding: 10px 10px 10px 40px

.nav
  display: inline-flex
  font-family: $font-Gilroy-ExtraBold
  font-size: 14px
  padding: 20px 30px
  background-color: #ffffff
  border-radius: 5px
  &-item
    position: relative
    &:before
      content: ''
      position: absolute
      top: calc(50% - 4px)
      left: 10px
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: #4095b4
  &-link
    color: #2a2a2a
    text-transform: uppercase
    padding: 5px 20px 5px 19px
    &.active, &:hover
      color: #4095b4
