.footer
  position: relative

  .map-wrapper
    display: flex
    margin-top: auto
    +laptop-down
      margin-top: unset
    +tablet-down
      flex-direction: column
      align-items: center

  #map
    border-radius: 5px
    width: 100%
    height: 520px
    +tablet-down
      width: 340px
      height: 370px

  .hintContent
    color: red
    font-weight: bold

  .offices
    margin-top: auto
    +laptop-down
      margin-top: unset

  .office
    display: flex
    flex-direction: column
    align-items: center
    margin-top: auto
    margin-bottom: 20px
    &__item
      //width: 270px
      width: 75%
      max-width: 270px
      height: 154px
      border-radius: 5px
      background: #677c91
      margin-bottom: 19px
      overflow: hidden

      +laptop-down
        width: 100%
        max-width: 340px

      &:last-child
        margin-bottom: 0
    &__link
      display: inline-block
      img
        width: 100%
        height: auto