.raw-materials
  .container
    margin-top: 50px
    margin-bottom: 120px
    max-width: 1170px
    padding: 0
  .title
    line-height: 1.25
    margin-left: 35px
  .row
    margin-top: 45px
  h4
    font-family: $font-Gilroy-ExtraBold
    font-size: 14px
    color: #017bdc
    text-transform: uppercase
    text-align: center
  #rawMaterialsBlock, #materialsBlock
    position: relative

    .carousel-control-prev, .carousel-control-next
      display: none
      +phone-down
        display: block
        top: calc(100% + 22px)
        left: 7%
    .carousel-control-next
      left: 90%
    .carousel-item
      padding-left: calc(50% - 108px)
  #materialsBlock
    +phone-down
    margin-bottom: 160px
    .carousel-control-prev
      +phone-down
        left: 20%
        z-index: 20
    .carousel-control-next
      +phone-down
        left: 80%
        z-index: 20
    .carousel-item
      padding-left: calc(50% - 135px)

.materials-block-wrapper
  margin-top: 40px
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  +laptop-down
    padding: 0 30px
  //padding: 0 30px
.materials-block-inner
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  +tablet-down
    justify-content: space-around

//.materials-block-inner

.materials-block
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  background-color: #f6f7f8
  border: 1px solid #dddddd
  border-radius: 5px
  width: 215px
  height: 240px
  padding: 30px 20px 0px 20px
  margin: 10px 10px
  +tablet-down
    margin: 0 0 15px 0
  &:first-child, &:nth-child(6), &:nth-child(11)
    margin-left: 0px
  &:last-child
    margin-right: 0px
  &__img
    width: 145px
    height: 135px
    margin-bottom: 20px
  &__wide
    width: 270px
    height: 305px
    margin-right: 20px
    padding-top: 40px
    h4
      font-size: 16px
      //margin-bottom: 20px
    .materials-block__img
      width: 190px
      height: 190px
      //margin-bottom: 10px
