.owner
  .container
    padding-top: 28px
    padding-bottom: 40px
    padding-left: 30px
    padding-right: 30px
    //+laptop
      max-width: 1170px
    +laptop-down
      padding-left: 15px
      padding-right: 15px
    +phonemin-down
      padding-left: 0px
      padding-right: 0px


.owner-person
  display: flex
  flex-direction: column
  color: #000000
  width: 370px
  +ipad-down
    overflow: hidden
  +phone-down
    width: 100%
    padding: 0px 5px


  &__title
    display: inline-block
    font-family: $font-Gilroy-ExtraBold
    font-size: 20px
    padding-right: 100px
    padding-left: 5px
    margin-bottom: 10px
    +phone-down
      padding: 0px 50px
      margin-bottom: 12px

  &__subtitle
    display: inline-block
    font-family: $font-Gilroy-Light
    font-size: 15px
    padding-left: 5px
    margin-bottom: 20px
    +phone-down
      font-size: 12px
      padding: 0px 5px 0px 50px

  &__img
    display: inline-block
    border-radius: 5px
    overflow: hidden
    min-width: 370px
    min-height: 446px
    width: 370px
    height: 446px
    +phone-down
      width: 222px
      min-width: 222px
      height: 267px
      min-height: 267px
      margin-bottom: 55px

    img
      width: 100%
      height: auto

  &__fio
    display: inline-block
    font-family: $font-Gilroy-ExtraBold
    font-size: 16px
    background-color: #f8c74a
    padding: 11px 20px
    position: absolute
    bottom: -16px
    left: 42px
    +phone-down
      z-index: 1

  &__social
    width: 207px
    margin-top: 7px
    +phone-down
      width: 160px
      margin-top: 15px
  .social-menu__item
    margin: 0px 6px

  &__position
    display: inline-block
    font-family: $font-Gilroy-Light
    font-size: 12px
    line-height: 15px
    margin-bottom: 28px
    +phone-down
      margin-bottom: 20px

    &.parallelogram
      +tablet
        transform: skew(0)
        padding: 0px

      +phone-down
        background-color: #FFFFFF
        padding: 10px 0px 10px 20px

      .parallelogram-title
        text-align: left
        +tablet
          transform: skew(0)

  &__comment
    display: inline-block
    font-family: $font-Caveat-Regular
    font-size: 18px
    line-height: 22px
    text-decoration: underline
    text-align: center


.owner-form
  padding: 90px 0px
  +phone-down
    padding: 30px 15px


  &__title
    font-family: $font-Gilroy-Light
    line-height: 1.2
    padding: 0px 5px 0px 20px
    margin-bottom: 15px
    +phone-down
      margin-bottom: 18px
      padding-left: 0px
      padding-right: 0px

  .subtitle
    font-family: $font-Gilroy-ExtraBold

  &__text
    line-height: 1.3
    padding: 0px 5px 0px 20px
    margin-bottom: 30px
    +phone-down
      font-size: 14px
      line-height: 1.5
      margin-bottom: 15px
      padding-left: 0px
      padding-right: 0px

  &__contact
    .title
      line-height: 1.2
      margin-bottom: 10px
      +phone-down
        font-size: 20px
        margin-bottom: 22px
    p
      margin-bottom: 33px
      font-size: 14px

.owner-person-top
  position: relative
  margin-bottom: 25px
  +phone-down
    display: flex
    justify-content: center
    margin-bottom: 10px

.owner-person-footer
  display: flex
  padding: 0px 30px
  +phone-down
    padding-left: 0px
    padding-right: 0px
    
//.img-top
  position: absolute
  top: 42px
  left: 0px
  display: block
  z-index: 2

//.owner-person__img
  overflow: hidden