.training
  margin-top: 70px
  margin-bottom: 103px
  +phone-down
    padding: 0 15px
  .container
    border-radius: 5px
    padding: 51px 30px 65px 38px
    +laptop
      max-width: 1170px
    +phone-down
      //padding: 15px 25px 65px 35px
      padding: 15px 0px 65px

  &-top
    display: flex
    flex-direction: row
    flex-wrap: wrap
    position: relative
    margin-top: 14px
    margin-bottom: 85px
    padding-left: 20px
    padding-right: 20px
    +tablet-down
      flex-direction: column
      margin-bottom: 25px

  &-step-wrap
    display: flex
    margin-bottom: 35px
    +phone-down
      justify-content: center

  &-footer
    display: flex
    justify-content: center

  &__title
    line-height: 1.2
    margin-bottom: 23px
    width: 53%
    z-index: 1
    +tablet-down
      order: 0
      width: 100%
      line-height: 1.3
      margin-bottom: 17px


  &__text
    line-height: 1.5
    width: 50%
    z-index: 1
    +tablet-down
      order: 3
      width: 100%

  &__img
    position: absolute
    width: 860px
    height: auto
    bottom: -85px
    right: -23px
    +tablet-down
      position: sticky
      order: 2
      align-self: center
      width: 100%
      height: auto
      margin-left: -20px
      margin-bottom: 20px
    img
      width: 100%
      height: auto

  .comment
    width: 240px
    padding: 18px 60px 15px 23px
    line-height: 1.2
    align-self: flex-start
    position: absolute
    right: 0px
    +tablet-down
      position: sticky
      order: 1
      margin: 0px auto 20px


.training-step
  //position: relative
  .carousel-indicators
    bottom: -30px
  .carousel-control-prev, .carousel-control-next
    display: none
    +phone-down
      display: block
      top: 96%
  .carousel-control-next
    left: calc(100% - 20px)

  &-in
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +laptop-down
      justify-content: center
  &-item
    display: flex
    flex-direction: column
    width: 320px
    justify-content: flex-start
    align-items: center
    text-align: center
    position: relative

    &:after
      content: ''
      position: absolute
      top: -8px
      right: -24px
      border-left: 1px solid #d1d1d1
      height: 50%
      +laptop-down
        right: 0px
      +phone-down
        display: none

    &:first-child
      .training-step__num
        padding-left: 87px
        &:before
          background-image: url("../images/icons/certification.png")
          left: 50px

    &:nth-child(2)
      &:after
        +laptop-down
          display: none
      .training-step__num
        &:before
          background-image: url("../images/icons/set-of-patterns.png")
          width: 77px
          height: 79px
          transform: rotate(-150deg) scale(1.6)
          left: -33px
          top: -5px
    &:nth-child(3)
      &:after
        display: none
        +laptop-down
          display: inline-block
      .training-step__num
        &:before
          background-image: url("../images/icons/design-catalog.png")
          width: 72px
          height: 72px
          left: 20px
          top: 8px
    &:nth-child(4)
      margin-left: auto
      margin-right: 40px
      +laptop-down
        margin: 0px
      &:after
        top: 6px
        +laptop-down
          display: none
      +tablet-down
        margin: 0px
      .training-step__num
        padding-left: 0px
        &:before
          background-image: url("../images/icons/выезд-нашего-специалиста.png")
          width: 80px
          height: 95px
          left: -43px
          top: -28px
    &:nth-child(5)
      margin-right: auto
      margin-left: 40px
      +laptop-down
        margin: 0px
      +tablet-down
        margin: 0px
      &:after
        display: none
      .training-step__num
        padding-left: 0px
        &:before
          background-image: url("../images/icons/dostavka_v_srok.png")
          width: 70px
          height: 70px
          left: -33px
          top: 3px

  &__num
    position: relative
    font-size: 68px
    line-height: 1.2
    color: $blue-text
    margin-bottom: 6px
    padding-left: 55px
    &:before
      content: ''
      display: inline-block
      position: absolute
      top: 0px
      left: 0px
      width: 82px
      height: 85px
      background:
        //color: red
        //image: url()
        repeat: no-repeat
        size: contain
  &__text
    color: #677c91
    line-height: 1.3
    margin-bottom: 10px
    +laptop-down
      margin-bottom: 30px
    b
      color: #000000

  .carousel-item
    width: 320px
    text-align: center