.types-floor
  margin-bottom: 60px
  .container
    max-width: 1170px
    padding: 60px 30px
  &__title
    font-family: $font-Roboto-Bold
    font-size: 20px
    color: #017bdc
    text-align: left
    +tablet-down
      font-size: 16px
  .title
    margin-left: 10px
  .col
    padding-left: 0
    padding-right: 0
  &-menu
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: #ffffff
    border-radius: 5px
    //margin-right: 3px
    margin-top: 50px
    +tablet-down
      flex-direction: column
      justify-content: center

  &-content
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    padding: 25px 45px
    font-family: $font-Roboto-Regular
    font-size: 16px
    line-height: 1.5
    +tablet-down
      padding: 0
      margin: 0
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      font-size: 12px
    &__col
      width: 50%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      +tablet-down
        width: 100%
    &__img
      margin-top: 30px
      margin-bottom: 40px
      display: flex
      width: 470px
      height: 350px
      border-radius: 5px
      +tablet-down
        width: 100%
        margin-bottom: 30px
  &-objects
    display: flex
    flex-direction: column
    justify-content: center
    align-items: left
    margin-left: 5px
    margin-top: 30px
    +tablet-down
      margin: 15px 0 0 0
    .types-floor__title
      margin-left: 20px
      margin-bottom: 10px
      +tablet-down
        margin: 0 0 5px 0


  &-descr
    display: flex
    flex-direction: column
    justify-content: center
    align-items: left
    line-height: 1.5
    .types-floor__title
      margin-bottom: 10px

  .list
    margin: 0 0 45px 0
    line-height: 1.43
    +tablet-down
      font-size: 12px
      margin: 0 0 15px 0
    &__item
      padding-left: 25px
      margin-bottom: 12px
      &:before
        width: 13px
        height: 13px
        background-image: url('../images/icons/ic-okey.svg')
        background-size: 8px 8px
        background-position: center center
        border: 1px solid #0CBE44
        border-radius: 50%
        top: 5px
        left: 5px

.types-floor-menu .nav
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background-color: #ffffff
  padding: 10px 0px
  margin: 0
  border-radius: 5px
  list-style: none
  +tablet-down
    flex-direction: column
    justify-content: center
  .nav-item
    &:before
      content: none

  .nav-link
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 70px
    width: 250px
    background-color: #f6f7f8
    border-style: none
    border-radius: 5px
    color: #000000
    font-family: $font-Gilroy-ExtraBold!important
    font-size: 18px!important
    text-transform: none!important
    font-weight: normal!important
    +tablet-down
      font-size: 14px!important
      height: 50px
      margin: 5px 0

  .active
    color: #ffffff
    background-color: #017bdc
    box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.25)!important
    border-radius: 5px
