*
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $font-Roboto-Regular
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: 1
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: $body_bg
	+phone-down
		font-size: 12px

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	+phone-down
    	font-size: 26px

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	+phone-down
		font-size: 20px

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3
	+phone-down
		font-size: 16px

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4
	+phone-down
		font-size: 16px


.container
	+laptop
		max-width: 1370px

.title
	color: $fontColorMain
	font-family: $font-Gilroy-ExtraBold

.green
	color: $green

.bg--grey
	background-color: $grey

.blue-text
	color: $blue-text

.red-text
	color: $red-text

.bold-text
	font-family: $font-Gilroy-ExtraBold
	font-weight: bold

.red-text
	color: $red-text


.text-upper
	text-transform: uppercase

.btn
	&:hover
		color: inherit

.btn-green
	background: rgb(101,196,115)
	background: linear-gradient(-90deg, rgba(101,196,115,1) 0%, rgba(56,150,88,1) 150%)
	-webkit-box-shadow: 0px 5px 0px 0px rgba(48,125,71,1)
	-moz-box-shadow: 0px 5px 0px 0px rgba(48,125,71,1)
	box-shadow: 0px 5px 0px 0px rgba(48,125,71,1)
	border-radius: 4px
	font-family: $font-Gilroy-Light
	font-size: $fs_btn_green
	color: $col_btn_green
	&:hover
		color: $col_btn_green

.btn-green-l
	border-radius: 10px

.btn-ic
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0px
		left: 6px
		width: 41px
		height: 54px
		transform: rotate(-15deg)
		background:
			color: transparent
			image: url("../images/icons/ic-trend.png")
			repeat: no-repeat
			size: contain

.btn-blue
	color: $col_btn_blue
	font-size: $fs_btn_blue
	background: rgb(69,166,244)
	background: linear-gradient(-90deg, rgba(69,166,244,1) 0%, rgba(39,120,184,1) 100%)
	-webkit-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	-moz-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)

.btn-close
	padding: 0px
	width: 18px
	height: 18px
	border-radius: 0px
	box-shadow: none
	background-color: transparent
	background-image: url(../images/icons/ic-close.svg)
	background-repeat: no-repeat
	background-size: contain

.btn-gamburg
	font-family: $font-Gilroy-Light
	font-size: 14px
	color: #FFFFFF
	padding: 32px 14px 5px
	margin-left: auto
	margin-right: 15px
	background:
		color: #3f9fea
		image: url("../images/icons/ic-menu.svg")
		repeat: no-repeat
		size: 50%
		position: center 3px
	&:hover, &:active
		color: #FFFFFF

.section_background
	position: absolute
	left: 0
	top: 0
	right: 0
	height: 770px
	background: url("../images/content/bg1.png")
	z-index: -1
	filter: blur(5px)

.footer-bg
	position: absolute
	left: 0
	bottom: 0
	right: 0
	height: 855px
	background: url("../images/content/bg1.png")
	z-index: -1
	filter: blur(5px)

.list
  font-family: $font-Roboto-Regular
  font-size: 16px
  margin-top: 45px
  margin-bottom: 45px
  padding: 0
.list__item
  list-style: none
  margin-bottom: 20px
  position: relative
  padding-left: 40px
  &:before
    content: ''
    width: 28px
    height: 28px
    background-repeat: no-repeat
    background-size: 28px 28px
    background-position: left top
    position: absolute
    top: 0px
    left: 0px

.list--quest
	.list__item:before
		background-image: url("../images/icons/help.svg")
		width: 16px
		height: 16px
		top: 4px
		left: 22px
		background-size: contain

.comment
	padding: 25px 15px
	font-family: $font-Caveat-Regular
	font-size: 20px
	border: 1px solid #d1d1d1
	border-radius: 5px
	position: relative
	&:after
		position: absolute
		content: ''
		width: 55px
		height: 40px
		bottom: -10px
		right: -15px
		background-repeat: no-repeat
		background-size: 55px 40px

.comment--wallet
	&:after
		width: 146px
		height: 91px
		bottom: -5px
		right: -17px
		transform: rotate(-178deg) scaleY(-1)
		background-image: url("../images/icons/purse.png")
		background-size: contain

.comment--helmet
	&:after
		width: 84px
		height: 63px
		bottom: 33px
		right: 37px
		background-image: url("../images/icons/helmet.png")
		background-size: contain

.comment--hat
	&:after
		width: 81px
		height: 80px
		bottom: -45px
		right: 3px
		background-image: url("../images/icons/hat.png")
		background-size: contain


.parallelogram
	-webkit-transform: skew(-20deg)
	-moz-transform: skew(-20deg)
	-o-transform: skew(-20deg)
	padding: 0 50px

	.parallelogram-title
		text-align: center
		-webkit-transform: skew(20deg)
		-moz-transform: skew(20deg)
		-o-transform: skew(20deg)

.shadow-blue-box
  background: rgb(43,127,193)
  background: linear-gradient(0deg, rgba(43,127,193,1) 0%, rgba(65,161,236,1) 100%)
  -webkit-box-shadow: 11px 11px 27px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 11px 11px 27px 0px rgba(0,0,0,0.25)
  box-shadow: 11px 11px 27px 0px rgba(0,0,0,0.25)
  border-radius: 5px

.shadow-blue-box-s
	background: rgb(69,166,244)
	background: linear-gradient(-90deg, rgba(69,166,244,1) 0%, rgba(39,120,184,1) 150%)
	-webkit-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	-moz-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	border-radius: 3px

.bl-db-bordered
	border-radius: 10px
	background-color: #FFFFFF
	padding: 40px

.bl-blue
	display: flex
	background: rgb(69,166,244)
	background: linear-gradient(-90deg, rgba(69,166,244,1) 0%, rgba(39,120,184,1) 100%)
	-webkit-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	-moz-box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.25)
	padding: 10px
	border-radius: 4px
	color: #FFFFFF
	&__in
		display: flex
		flex-direction: column
		border: 1px solid #71addd
		border-radius: 4px
		padding: 50px
	.title
		color: #FFFFFF


.o-form
	.form-control
		background-color: #e3e3e3
		border-radius: 5px
		border: 0px
		color: #a9a9a9
		height: 54px
		text-align: center
	.btn
		width: 100%
		height: 54px
		font-family: $font-Gilroy-ExtraBold
		font-size: 16px


.ic-oimo
	position: relative
	&:before
		content: ''
		display: inline-block
		position: absolute
		top: -40px
		right: 10px
		width: 78px
		height: 119px
		background:
			color: transparent
			image: url("../images/icons/Gravity-Hard-Cover-Book-Mockup.png")
			repeat: no-repeat
			size: contain
		+phone-down
			width: 50px
			height: 77px
			top: -15px
			right: -4px

.line-bt
	position: relative
	&:after
		content: ''
		display: inline-block
		position: absolute
		bottom: 0px
		left: calc((100% - 76%)/2)
		width: 76%
		border-top: 1px solid #c6c6c6

.carousel-control-prev, .carousel-control-next
	width: 30px
	height: 30px
	border-radius: 50%
	background: $slider-control-color
	top: calc(50% - 30px)
	opacity: 1
	left: 20px
	+tablet-down
		width: 18px
		height: 18px
	&:hover
		opacity: .85
.carousel-control-next
	left: calc(100% - 20px - 30px)

.carousel-control-prev-icon, .carousel-control-next-icon
	background:
		image: url("../images/icons/icon_arrow.svg")
		size: 8px
		position: center
		repeat: no-repeat
	+tablet-down
		background-size: 7px
.carousel-control-prev-icon
	transform: rotate(180deg)

.carousel-indicators
	bottom: -60px
	& li
		background-color: #d1d1d1
		width: 15px
		height: 4px
		margin-right: 5px

		&:last-child
			margin-right: 0

		&.active
			background-color: $slider-control-color

.social-menu
	display: flex
	padding: 0px
	margin: 0px
	&__item
		list-style: none
		margin: 0px 3px
		a
			display: flex
			width: 20px
			min-width: 20px
			height: 20px
			background:
				color: transparent
				repeat: no-repeat
				size: contain
			&.whatsapp
				background-image: url("../images/icons/ic-wa.png")
			&.telegram
				background-image: url("../images/icons/ic-tg.png")


