//general font
$fontSize_body: 16px
$lineHeight_body: 24px

$font-Caveat-Bold: 'Caveat-Bold', Arial, sans-serif
$font-Caveat-Regular: 'Caveat-Regular', Arial, sans-serif
$font-Gilroy-ExtraBold: 'Gilroy-ExtraBold', Arial, sans-serif
$font-Gilroy-Light: 'Gilroy-Light', Arial, sans-serif
$font-Roboto-Regular: 'Roboto-Regular', Arial, sans-serif

$fontColorMain: #222222

//general color
$body_bg: #FFFFFF
$grey: #f6f7f8
$blue: #017bdc
$blue-text: #077ddc


//h1, h2
$fontSize_h1: 40px
$lineHeight_h1: 1


$fontSize_h2: 30px
$lineHeight_h2: 1

$fontSize_h3: 20px
$lineHeight_h3: 1


